pipeline/pl_ingest_tb_salesorderdetail.json
{
	"name": "pl_ingest_tb_salesorderdetail",
	"properties": {
		"activities": [
			{
				"name": "get_maxRecentDateTime",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT max(mostRecentDateTime) as mostRecentDateTime FROM controller.water_mark\nWHERE tableName = 'SalesLT.SalesOrderDetail'\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_estudos_leo",
						"type": "DatasetReference",
						"parameters": {
							"schema": "controller",
							"tbName": "water_mark"
						}
					}
				}
			},
			{
				"name": "if_water_mark_isnull",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "get_maxRecentDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(activity('get_maxRecentDateTime').output.firstRow.mostRecentDateTime)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "set_water_mark",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "water_mark",
								"value": {
									"value": "@activity('get_maxRecentDateTime').output.firstRow.mostRecentDateTime",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "water_mark",
								"value": {
									"value": "1900-01-01",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "lk_hasRows_to_water_mark",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "if_water_mark_isnull",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT count(*) as hasRows FROM SalesLT.SalesOrderDetail\nWHERE  ModifiedDate > '@{variables('water_mark')}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqldb_estudos_leo",
						"type": "DatasetReference",
						"parameters": {
							"schema": "SalesLT",
							"tbName": "SalesOrderDetail"
						}
					}
				}
			},
			{
				"name": "if_has_rows_to_water_mark",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "lk_hasRows_to_water_mark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('lk_hasRows_to_water_mark').output.firstRow.hasRows,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ingest_data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM SalesLT.SalesOrderDetail\nWHERE ModifiedDate > '@{variables('water_mark')}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "SalesOrderID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "SalesOrderID",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "SalesOrderDetailID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "SalesOrderDetailID",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "OrderQty",
												"type": "Int16",
												"physicalType": "smallint"
											},
											"sink": {
												"name": "OrderQty",
												"type": "Int16",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "ProductID",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "ProductID",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "UnitPrice",
												"type": "Decimal",
												"physicalType": "money",
												"scale": 4,
												"precision": 19
											},
											"sink": {
												"name": "UnitPrice",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											}
										},
										{
											"source": {
												"name": "UnitPriceDiscount",
												"type": "Decimal",
												"physicalType": "money",
												"scale": 4,
												"precision": 19
											},
											"sink": {
												"name": "UnitPriceDiscount",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											}
										},
										{
											"source": {
												"name": "LineTotal",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 6,
												"precision": 38
											},
											"sink": {
												"name": "LineTotal",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											}
										},
										{
											"source": {
												"name": "rowguid",
												"type": "Guid",
												"physicalType": "uniqueidentifier"
											},
											"sink": {
												"name": "rowguid",
												"type": "Guid",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "ModifiedDate",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "ModifiedDate",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_sqldb_estudos_leo",
									"type": "DatasetReference",
									"parameters": {
										"schema": "SalesLT",
										"tbName": "SalesOrderDetail"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_parquet",
									"type": "DatasetReference",
									"parameters": {
										"container": "bronze",
										"path": {
											"value": "SalesLT/SalesOrderDetail/@{utcnow('yyyyMMdd')}",
											"type": "Expression"
										},
										"fileName": {
											"value": "file-@{variables('water_mark')}.parquet",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "if_has_rowsread",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "if_has_rows_to_water_mark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('ingest_data').output.rowsRead,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "lkp_max_modifiedDate",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT max(ModifiedDate) as mostRecentDateTime\nFROM  SalesLT.SalesOrderDetail",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sqldb_estudos_leo",
									"type": "DatasetReference",
									"parameters": {
										"schema": "SalesLT",
										"tbName": "SalesOrderDetail"
									}
								}
							}
						},
						{
							"name": "sp_update_water_mark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "lkp_max_modifiedDate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[controller].[update_water_mark]",
								"storedProcedureParameters": {
									"mostRecentDateTime": {
										"value": {
											"value": "@activity('lkp_max_modifiedDate').output.firstRow.mostRecentDateTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"tableName": {
										"value": "SalesLT.SalesOrderDetail",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_db_estudos_leo",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"water_mark": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-08-25T20:45:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}